.body {
    font-family: 'Source Sans Pro', sans-serif;
    size: 40px;
}


h1 {
    font-family: 'Kalam', sans-serif;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

body {
    background-color: white;
}

.page {
    width: 1080px;
    background-color: white;
    margin: auto;
    padding: 50px;
}

.vis-container {
    width: 100%;
}

.positive{
    color: #2590c8;
    font-weight: bold;
}

.negative{
    color: #d13141;
    font-weight: bold;
}

.positive2{
    color: #2590c8;
}

.negative2{
    color: #d13141;
}

.bold{
    font-weight: bold;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 200px;
}

.description-right2 {
    padding-left: 0px;
}

.desc-right {
    padding-left: 0px;
}

.desc-right3 {
    padding-left: 30px;
}

.desc-left {
    padding-left: 0px;
}

.desc-left2 {
    padding-left: 0px;
}

.desc-left3 {
    padding-right: 30px;
}

.description-left {
    padding-left: 0px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 12px;
}
